#board {
    height: 500px;
    width: 500px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.row{
    flex: 1;
    display: flex;
}

.col {
    border: 1px solid #ccc;
    flex: 1;
}